.td{
    @media screen and (max-width: 600px) {
        font-size: 3.7px;
    }
    .button{
        align-self: center;
        border: none;
        border-radius: 10px;
        background-color: rgba(255, 0, 4, 0.592);
        color: white;
        padding: 5px;
        cursor: pointer;
        @media screen and (max-width: 600px) {
            padding: 1px;
        border-radius: 0px;
        font-size: 6px;
          }
          
    }
    .img{
        width: 50%;
        height: 50px;
        border-radius: 50%;
        object-fit:cover;
        @media screen and (max-width: 600px) {
            width: 20px;
        height: 15px;
        border-radius: 50%;
        object-fit:cover;
          }
    }
}
